<!DOCTYPE html>
<html lang={String.replace(Gettext.get_locale(HllConditionalActionsWeb.Gettext), "_", "-")}>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="VIP" phx-no-format>{assigns[:page_title]}</.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <PetalComponents.ColorSchemeSwitch.color_scheme_script />
  </head>
  <body>
    {@inner_content}
  </body>
</html>
